In [1]:
print('Hello world') # run = shift + enter

Hello world

Python Basic

Arithmetic Operations

In [2]:
a = 5
b = 3
print(a + b) # Addition
print(a - b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Division
print(a // b) #(floor division)
print(a % b)  # (remainder)
print(a ** b) # (exponentiation)

8
2
15
1.6666666666666667
1
2
125

Comparison Operations

In [3]:
a = 5
b = 3
print(a == b)  # Equal to
print(a != b)  # Not equal to
print(a > b)   # Greater than
print(a < b)   # FLess than
print(a<=b)    # less than or equal to
print(a>=b)    # Greater than or equal to

False
True
True
False
False
True

 Logical Operations

In [4]:
x = 5
y = 10

# Logical AND or &
# Both conditions are True, so Output: True
print(x > 0 & y > 0) 
# One condition is False, so Output: False
print(x > 0 and y < 0) 

# Logical OR or |
# One condition is True, so Output: True
print(x > 0 | y < 0)   
# Both conditions are False, so Output: False
print(x < 0 or y < 0)   

# Logical NOT
# x > 0 is True, so not True is False, Output: False
print(not (x > 0)) 
# x < 0 is False, so not False is True, Output: True
print(not (x < 0))

False
False
False
False
False
True

Membership Operations

In [5]:
fruits = ['apple', 'banana', 'cherry']
print('apple' in fruits)  
print('grape' not in fruits)

True
True

Bitwise Operators

In [6]:
# Declare variables a and b
a = 6  # 6 in binary is 110
b = 3  # 3 in binary is 011

# Perform Bitwise AND operation
# AND: Compares each bit, results in 1 where both bits are 1, otherwise 0
# 110 (a = 6) 
# & 011 (b = 3)
# -------
#   010 (result = 2)
print(a & b)    # Output will be 2


# Perform Bitwise OR operation
# OR: Compares each bit, results in 1 if at least one of the bits is 1
# 110 (a = 6)
# | 011 (b = 3)
# -------
#   111 (result = 7)
print(a | b)    # Output will be 7


# Perform Bitwise XOR operation
# XOR: Compares each bit, results in 1 where the bits are different
# 110 (a = 6)
# ^ 011 (b = 3)
# -------
#   101 (result = 5)
print(a ^ b)    # Output will be 5

2
7
5

List

In [7]:
#List
marks = [4,5,7,5,3,8,5,24,57,23,33]
#list indexing
print(marks[7])#index:0,1,2,3,4,5,6,

24

In [8]:
marks = [4,5,7,5,3,8,5,24,57,23,33]
#list slicing
print(marks[:5])

[4, 5, 7, 5, 3]

In [9]:
marks = [4,5,7,5,3,8,5,24,57,23,33]
# list slicing
print(marks[2:8])

[7, 5, 3, 8, 5, 24]

In [10]:
marks.remove(7) # first je 7 thakebe ota delete hoia jabe
print(marks)

[4, 5, 5, 3, 8, 5, 24, 57, 23, 33]

In [11]:
del marks[2] # index wise delete 
marks

[4, 5, 3, 8, 5, 24, 57, 23, 33]

In [12]:
marks.append(2) # last index e add hobe 
print(marks)

[4, 5, 3, 8, 5, 24, 57, 23, 33, 2]

Tuple

In [13]:
# Original tuple
my_tuple = (1, 2, 3)

# Add an element (e.g., 4)
my_tuple = my_tuple + (4,)

# Print the updated tuple
print(my_tuple)

(1, 2, 3, 4)

In [14]:
# Tule is immutable so converting into list you can remove value 
# Original tuple
my_tuple = (1, 2, 3, 4)

# Convert to a list
tuple_list = list(my_tuple)

# Remove an element (e.g., 2)
tuple_list.remove(2)

print(tuple_list)

print(len(tuple_list)) #check lenth

[1, 3, 4]
3

Dictionary

In [15]:
batch_10_dictionary= {
    101 : "Head Master",
    102 : "Assistant Teacher",
    103 : "Assistant Teacher",
    301 : "Biology Teacher"
}
print(batch_10_dictionary[301])

Biology Teacher

In [16]:
# Adding a new entry to the dictionary
batch_10_dictionary[201] = "Physics Teacher"

print(batch_10_dictionary)

{101: 'Head Master', 102: 'Assistant Teacher', 103: 'Assistant Teacher', 301: 'Biology Teacher', 201: 'Physics Teacher'}

In [17]:
# Remove the entry with the key 201
del batch_10_dictionary[102]
print(batch_10_dictionary)

{101: 'Head Master', 103: 'Assistant Teacher', 301: 'Biology Teacher', 201: 'Physics Teacher'}

Set

In [18]:
my_set = {10, 20, 30, 40} 
print(my_set)

{40, 10, 20, 30}

In [19]:
 # Add an element
my_set.add(50)    
print(my_set)

{40, 10, 50, 20, 30}

In [20]:

# Using remove() method
my_set.remove(10)  # Removes 10 from the set
print(my_set)     

# Using discard() method (no error if the element doesn't exist)
my_set.discard(30)  # Removes 30 from the set
print(my_set)       

# Using pop() method (removes an arbitrary element)
popped_element = my_set.pop()  # Removes and returns an arbitrary element
print(popped_element)  

print(my_set)

{40, 50, 20, 30}
{40, 50, 20}
40
{50, 20}

conditional statement

In [21]:
x = -1
if x<0:
    print("x is not less than 0")
else:
    print("x is less than 0")

x is not less than 0

Loops

In [22]:
# Using a for loop to print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [23]:
for i in range(2,12, 2):
    print(i)

2
4
6
8
10

In [24]:
for num in range(1,15,2):
    print(num)

1
3
5
7
9
11
13

In [25]:
# Using While Loop 
x = 2
y = 10
while x<y:
    print(x)
    x+=2 #x+2 so x=2, x=2+2=4 that will be sequencially

2
4
6
8

In [26]:
#for lopps in break statement
for i in range(1,15,2):
    if i == 5: # when i == 5 this code will be stoped
        break
    print(i)

1
3

Function

In [27]:
# Function define by "def"
x = 1
def myfunc():
    print(x)
    
# call the function
myfunc()

1

In [28]:
def myfunc1(x, y):
    # Sum the arguments
    result = x + y
    print(result)  # Output the result

In [29]:
myfunc1(5,3)

8